/* GLOBAL STYLES */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  background-color: #fff;
  color: #000;
}

*:focus {
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}

/* SITE-LOGO */
.site-logo:hover {
  opacity: 0.8;
}

.site-logo:active {
  opacity: 0.6;
}

/* SITE-LINK */
.site-link:hover {
  opacity: 0.8;
}

.site-link:active {
  opacity: 0.6;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1140px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE-HEADER */
.site-header {
  border-top: 5px solid #ff7500;
}
.site-header-container {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
}
.site-logo {
  margin-right: auto;
}
.site-logo-img {
  display: block;
  width: 224px;
  height: 60px;
}
.sitenav {
  margin-right: 32px;
  font-family: "Roboto", "Arial", sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 16px;
}
.sitenav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.sitenav-item {
}

.sitenav-item:not(:last-child) {
  margin-right: 32px;
}
.sitenav-link {
  display: block;
  text-decoration: none;
  letter-spacing: 1px;
  color: #000;
}

.sitenav-link:active {
  opacity: 0.6;
}

.sitenav-link:hover {
  color: #ff7500;
}

.main-link {
  padding: 12px 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  border-radius: 4px;
  line-height: 15px;
  text-decoration: none;
  letter-spacing: 0.5px;
  background-color: #ff7500;
  color: #fff;
}

.main-link:hover {
  opacity: 0.8;
}

.main-link:active {
  opacity: 0.6;
}


/* HERO */
.site-hero {
  background-color: #252420;
  color: #fff;
}

.hero-line {
  margin: 0;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 80px;
  height: 3px;
  border: none;
  background-color: #ff7500;
}

.site-hero-container {
  display: flex;
  justify-content: space-between;
  padding-top: 40px;
  padding-bottom: 40px;
}

.site-hero-content {
  margin-top: 0;
  width: 387px;
}

.site-hero-title {
  margin-top: 0;
  margin-bottom: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
}

.site-hero-text {
  margin-top: 0;
  margin-bottom: 32px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #fff;
}

.site-link {
  display: inline-block;
  padding: 12px 24px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  border-radius: 4px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-decoration: none;
  background-color: #ff7500;
  color: #fff;
}

.site-hero-link:hover {
  opacity: 0.8;
}

.site-hero-link:active {
  opacity: 0.6;
}

.site-hero-img {
  width: 510px;
  height: 510px;
  border-radius: 8px;
  box-shadow: 24px 24px 0 0 rgba(255, 117, 0, 0.6);
}


/* FEATURES */
.feature-content {
  padding-top: 210px;
  padding-bottom: 210px;
  background-color: #fff;
}

.feature-title {
  margin-bottom: 71px;
  width: 435px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 86px;
  letter-spacing: 0.5px;
  color: #000;
}

.feature-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.feature-item {
  width: 340px;
}

.feature-item:not(:last-child) {
  margin-right: 40px;
}

.feature-icon {
  width: 56px;
  height: 56px;
}

.feature-icon-wrapper {
  width: 100px;
  height: 100px;
  margin-bottom: 32px;
  padding: 22px;
  border-radius: 50%;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-item-title {
  margin-bottom: 12px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: 0.5px;
  color: #000000;
}

.feature-item-text {
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #000;
}


/* PROMO */
.promo {
  margin: 0;
  padding: 0;
  margin-bottom: 160px;
}
.promo-container {
  display: flex;
  padding: 64px;
  border-radius: 12px;
  background-color: #252420;
  color: #fff;
}

.promo-content {
  width: 440px;
  margin-right: 92px;
}
.promo-title {
  margin-bottom: 24px;
  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0
}

.promo-text {
  margin-bottom: 12px;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5
}

.promo-texts {
  margin-bottom: 24px;
}

.promo-feature {
  font-weight: bold;
  color: #ff7500;
}

.site-link {
}

.promo-img {
  width: 440px;
  height: 440px;
  border-radius: 12px;
}


/* FOOTER */
.site-footer {
  padding-top: 56px;
  padding-bottom: 56px;
  background-color: #f8f8f8;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.footer-socials {
  display: flex;
  list-style: none;
}

.footer-socials-item:not(:last-child) {
  margin-right: 16px;
}

.footer-socials-link {
  display: block;
  color: #252420;
}

.footer-socials-link:hover {
  color: #ff7500;
}

.footer-socials-link:active {
  opacity: 0.6;
}

.footer-top-line {
  margin-bottom: 64px;
  width: 1100px;
  height: 2px;
  background-color: rgba(37, 36, 32, 0.5);
}


/* FOOTER-BOTTOM */
.footer-actions {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.footer-actions-list {
  list-style: none;
}

.footer-actions-item {
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}

.footer-actions-link {
  text-decoration: none;
  color: #252420;
}

.footer-actions-item:not(:last-child) {
  margin-bottom: 16px;
}

.footer-actions-link:hover {
  color: #ff7500;
}

.footer-actions-link:active {
  opacity: 0.6;
}
